In [69]:
import pandas as pd
import numpy as np

In [70]:
columns = [
    'Wiki_ID',
    'Freebase_ID',
    'Name',
    'Release_Date',
    'Box_Office_Revenue',
    'Runtime',
    'Languages',
    'Countries',
    'Genres'
]
movie_data = pd.read_csv('movie.metadata.tsv', sep='\t',header=None, names=columns, index_col=False)
print(movie_data.shape)
movie_data.head()

(81741, 9)

,Wiki_ID,Freebase_ID,Name,Release_Date,Box_Office_Revenue,Runtime,Languages,Countries,Genres
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"

In [71]:
  
imdb_titles = pd.read_csv('IMDB_DATA/titles_imdb.tsv', sep='\t')
print(imdb_titles.shape)
imdb_titles.head()

/var/folders/l5/6hdc9vld0fg61cf6tjrw3f100000gn/T/ipykernel_35708/4095019927.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  imdb_titles = pd.read_csv('IMDB_DATA/titles_imdb.tsv', sep='\t')

(10285367, 9)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [72]:
imdb_titles_movies = imdb_titles[imdb_titles['titleType'] == 'movie']
print(imdb_titles_movies.shape)
imdb_titles_movies.head()

(661924, 9)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,100,"Documentary,News,Sport"
498,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama

In [73]:
movie_data['Name'] = movie_data['Name'].str.lower()
#take the first 4 characters of the release date
movie_data['Release_Date'] = movie_data['Release_Date'].str[:4]
imdb_titles_movies['primaryTitle'] = imdb_titles_movies['primaryTitle'].str.lower()
imdb_titles_movies['originalTitle'] = imdb_titles_movies['originalTitle'].str.lower()

/var/folders/l5/6hdc9vld0fg61cf6tjrw3f100000gn/T/ipykernel_35708/1638552140.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb_titles_movies['primaryTitle'] = imdb_titles_movies['primaryTitle'].str.lower()
/var/folders/l5/6hdc9vld0fg61cf6tjrw3f100000gn/T/ipykernel_35708/1638552140.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb_titles_movies['originalTitle'] = imdb_titles_movies['originalTitle'].str.lower()

In [74]:
movie_data["Release_Date"]

0        2001
1        2000
2        1988
3        1987
4        1983
         ...
81736    2011
81737    2011
81738    1972
81739    1992
81740    2002
Name: Release_Date, Length: 81741, dtype: object

In [75]:
print(movie_data[movie_data['Name']=='iron man'])
print(movie_data.shape)

        Wiki_ID Freebase_ID      Name Release_Date  Box_Office_Revenue  \
38061  17367782  /m/043plhx  iron man         1931                 NaN
46672   5676692   /m/0dzlbx  iron man         2008         585174222.0

       Runtime                                          Languages  \
38061     73.0                 {"/m/02h40lc": "English Language"}
46672    126.0  {"/m/032f6": "Persian Language", "/m/0jzc": "A...

                                       Countries  \
38061  {"/m/09c7w0": "United States of America"}
46672  {"/m/09c7w0": "United States of America"}

                                                  Genres
38061  {"/m/07s9rl0": "Drama", "/m/087lqx": "Pre-Code...
46672  {"/m/01jfsb": "Thriller", "/m/06n90": "Science...
(81741, 9)

In [76]:
common_movies = pd.merge(movie_data, imdb_titles_movies, left_on=['Name',"Release_Date"], right_on=['primaryTitle',"startYear"], how='left')
print(common_movies.shape)
common_movies.head()

(82266, 18)

,Wiki_ID,Freebase_ID,Name,Release_Date,Box_Office_Revenue,Runtime,Languages,Countries,Genres,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,975900,/m/03vyhn,ghosts of mars,2001,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",tt0228333,movie,ghosts of mars,ghosts of mars,0,2001,\N,98,"Action,Horror,Sci-Fi"
1,3196793,/m/08yl5d,getting away with murder: the jonbenét ramsey ...,2000,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,28463795,/m/0crgdbh,brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D...",tt0094806,movie,brun bitter,brun bitter,0,1988,\N,83,"Crime,Drama"
3,9363483,/m/0285_cd,white of the eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic...",tt0094320,movie,white of the eye,white of the eye,0,1987,\N,110,"Horror,Mystery,Thriller"
4,261236,/m/01mrr1,a woman in flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}",tt0083949,movie,a woman in flames,die flambierte frau,0,1983,\N,106,Drama

In [79]:
common_movies_dropna = common_movies.dropna(subset=['primaryTitle']).drop_duplicates(subset=["Name","Release_Date"])
print(common_movies_dropna.shape)
common_movies_dropna.head()

(44162, 18)

,Wiki_ID,Freebase_ID,Name,Release_Date,Box_Office_Revenue,Runtime,Languages,Countries,Genres,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,975900,/m/03vyhn,ghosts of mars,2001,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",tt0228333,movie,ghosts of mars,ghosts of mars,0,2001,\N,98,"Action,Horror,Sci-Fi"
2,28463795,/m/0crgdbh,brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D...",tt0094806,movie,brun bitter,brun bitter,0,1988,\N,83,"Crime,Drama"
3,9363483,/m/0285_cd,white of the eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic...",tt0094320,movie,white of the eye,white of the eye,0,1987,\N,110,"Horror,Mystery,Thriller"
4,261236,/m/01mrr1,a woman in flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}",tt0083949,movie,a woman in flames,die flambierte frau,0,1983,\N,106,Drama
7,10408933,/m/02qc0j7,alexander's ragtime band,1938,3600000.0,106.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/04t36"": ""Musical"", ""/m/01z4y"": ""Comedy"", ...",tt0029852,movie,alexander's ragtime band,alexander's ragtime band,0,1938,\N,106,"Drama,Music,Musical"

In [80]:
common_movies_dropna[common_movies_dropna["Name"]=="iron man"]

,Wiki_ID,Freebase_ID,Name,Release_Date,Box_Office_Revenue,Runtime,Languages,Countries,Genres,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
46980,5676692,/m/0dzlbx,iron man,2008,585174222.0,126.0,"{""/m/032f6"": ""Persian Language"", ""/m/0jzc"": ""A...","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",tt0371746,movie,iron man,iron man,0,2008,\N,126,"Action,Adventure,Sci-Fi"

In [81]:
nunique = common_movies_dropna["Name"].nunique()
print(nunique)

41086

In [86]:
name_id = common_movies_dropna[["Name","tconst","Release_Date"]]
name_id.head()

                       Name     tconst Release_Date
0            ghosts of mars  tt0228333         2001
2               brun bitter  tt0094806         1988
3          white of the eye  tt0094320         1987
4         a woman in flames  tt0083949         1983
7  alexander's ragtime band  tt0029852         1938

In [87]:
name_id["tconst"].nunique()

44162

In [88]:
#create csv
name_id.to_csv("name_id.csv",index=False)